<div class="text-center">
    <div class="container">
       <ngb-carousel *ngIf="imageBundel" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
       <ng-template ngbSlide *ngFor="let bund of imageBundel">
          <div class="row pt-4">
             <div class="col-md-4" *ngFor="let img of bund">
              <app-item-detail [selectedItem]="img" (selectedPrice)="addPrice($event)"></app-item-detail>
             </div>
          </div>
       </ng-template>
       </ngb-carousel>
    </div>
 </div>
